# ignore the pycache everywhere
**/__pycache__

# ignore vscode/vs/git stuff
/cpp-app/.vscode
/cpp-app/.vs
/cpp-app/.git
/.vscode
/.vs
/.git

# ignore the app cache
/cache

# ignore python and git
/python
/git

# ignore the settings
/config/settings.json

# ignore the c++ builds
/cpp-app/build