# ignore the pycache everywhere
**/__pycache__

# ignore vscode stuff
/.vscode

# ignore vs stuff
.vs

# ignore the app cache
/cache

# ignore the venv
/venv

# ignore the settings
/config/settings.json

# ignore the c++ builds
/cpp-app/build