windows-capture==1.3.6
beautifulsoup4
opencv-python
SimpleWindow<1.0
torchvision==0.20.1
torchaudio==2.5.1
bettercam
dearpygui
keyboard
requests
ImageUI>=0.36
pywin32
gputil
psutil
mouse
numpy==1.26.4
torch==2.5.1
mss